<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>console for GET</title>
  <script src="/static/script/jquery-3.1.1.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/css/bootstrap.css">
</head>
<body>

<script>

var resource_path = "{{ resource_url }}";
var ui_put_path = "{{ ui_put_url }}";
var ui_delete_path = "{{ ui_delete_url }}";
var ui_theme = "{{ ui_theme }}";

document.title = "console for " + ui_theme.toUpperCase();

function fun_get_resource_list(_base_url, _ui_put, _ui_delete)
{
  // http://stackoverflow.com/questions/14643617/create-table-using-javascript

  // insert table to html body
  var body = document.body;
  var div = document.createElement('div');
  div.className = 'container';
  var table = document.createElement('table');
  table.className  = 'table table-striped';
  var tr = table.insertRow();
  var td = tr.insertCell();
  td.appendChild(document.createTextNode("name"));

  td = tr.insertCell();
  td.appendChild(document.createTextNode("link for " + ui_theme));
  // retrieve data
  jQuery.ajax({
    url: _base_url,
    type: "GET",
    contentType: 'application/json; charset=utf-8',
    success: function(resultData){
      data_list = resultData.listing;
      // console.log(data_list);
      data_list.forEach(
        function(element){
          var tr = table.insertRow();
          var td = tr.insertCell();
          td.appendChild(document.createTextNode(element));
          switch(ui_theme){
            case 'get': // url for get
              td = tr.insertCell();
              var target_url_path = _base_url.concat("/", element);
              var a = document.createElement('a');
              var linkText = document.createTextNode(target_url_path);
              a.appendChild(linkText);
              a.title = "click here to view!";
              a.href = target_url_path;
              td.appendChild(a);
              break;
            case 'put':
              // url for put
              td = tr.insertCell();
              target_url_path = _ui_put.concat("/", element);
              a = document.createElement('a');
              linkText = document.createTextNode(target_url_path);
              a.appendChild(linkText);
              a.title = "click here to update!";
              a.href = target_url_path;
              td.appendChild(a);
              break;
            case 'delete':
              // url for delete
              td = tr.insertCell();
              target_url_path = _ui_delete.concat("/", element);
              a = document.createElement('a');
              linkText = document.createTextNode(target_url_path);
              a.appendChild(linkText);
              a.title = "click here to delete!";
              a.href = target_url_path;
              td.appendChild(a);
              break;
            default:
              break;
          }
        }
      );
    },
    error: function(jqXHR, textStatus, errorThrown){
    },
    timeout: 10000,
  });
  // ending
  //body.appendChild(table);
  div.appendChild(table);
  body.appendChild(div);
}

fun_get_resource_list(resource_path, ui_put_path, ui_delete_path);

</script>

</body>
</html>
